Repository Arbeidstilsynet/design, changes with the labels that .github/labeler.yml gives for each.
All labels: stories, dependencies, ci

fix: correct typo in the decision section of the package versioning ADR
  docs/adr/0002-adr-pakkeversjonering.md
Labels: none

fix: correct typo in the existing codebase description
  docs/adr/0001-adr-repo-init.md
Labels: none

fix: correct reference to Digdir's recipe in design tokens synchronization section
  docs/adr/0001-adr-repo-init.md
Labels: none

fix: correct typo in the positive consequences section of the Digdir components ADR
  docs/adr/0003-adr-digdir-komponenter.md
Labels: none

fix: enhance context and clarify usage of Changesets and Renovate in versioning ADR
  docs/adr/0002-adr-pakkeversjonering.md
Labels: none

chore: rename to use adr prefix
  docs/adr/adr-0000-template.md
  docs/adr/adr-0001-repo-init.md
  docs/adr/adr-0002-pakkeversjonering.md
  docs/adr/adr-0003-digdir-komponenter.md
Labels: none

fix: add alternative for creating wrappers around Digdir components
  docs/adr/adr-0003-digdir-komponenter.md
Labels: none

chore(changelog): remove outdated @types/node entries
  packages/react/CHANGELOG.md
Labels: none

chore: remove onboarding addon from Storybook configuration
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  pnpm-lock.yaml
Labels: dependencies

chore: add changeset
  .changeset/sour-bees-sing.md
Labels: none

chore: format
  apps/storybook/.storybook/main.ts
  packages/react/package.json
Labels: none

Generated theme CSS
  packages/theme/brand/arbeidstilsynet.css
Labels: none

Revert "Generated theme CSS"
  packages/theme/brand/arbeidstilsynet.css
Labels: none

chore: update README files to enhance documentation for design tokens
  design-tokens/README.md
  packages/theme/README.md
Labels: none

chore: update workflow to ignore changeset-release branch in token generation
  .github/workflows/generate-tokens.yml
Labels: ci

chore: update build version to v1.0.8 and remove unused layers
  packages/theme/brand/arbeidstilsynet.css
Labels: none

chore: add changeset
  .changeset/smooth-bats-ask.md
Labels: none

chore: regenerate tokens with @digdir/designsystemet@1.0.8 (#98)
  .changeset/smooth-bats-ask.md
  packages/theme/brand/arbeidstilsynet.css
Labels: none

docs: update design tokens readme (#99)
  .github/workflows/generate-tokens.yml
  design-tokens/README.md
  packages/theme/README.md
Labels: ci

fix: remove unnecessary note on Changesets command learning requirement
  docs/adr/adr-0002-pakkeversjonering.md
Labels: none

fix: clarify usage of Digdir's basiskomponenter and installation methods
  docs/adr/adr-0003-digdir-komponenter.md
Labels: none

fix: clarify migration work for non-Digdir components and adjust complexity description
  docs/adr/adr-0001-repo-init.md
Labels: none

Noen endringer for font size og på typografi
  design-tokens/$metadata.json
  design-tokens/$themes.json
  design-tokens/primitives/modes/color-scheme/dark/arbeidsmiljportalen.json
  design-tokens/primitives/modes/color-scheme/dark/nemndene.json
  design-tokens/primitives/modes/color-scheme/light/arbeidsmiljportalen.json
  design-tokens/primitives/modes/color-scheme/light/nemndene.json
  design-tokens/primitives/modes/typography/primary/arbeidsmiljportalen.json
  design-tokens/primitives/modes/typography/primary/nemndene.json
  design-tokens/primitives/modes/typography/secondary/arbeidsmiljportalen.json
  design-tokens/primitives/modes/typography/secondary/nemndene.json
  design-tokens/semantic/style.json
  design-tokens/themes/arbeidsmiljportalen.json
  design-tokens/themes/nemndene.json
Labels: none

Generated theme CSS
  packages/theme/brand/arbeidstilsynet.css
Labels: none

chore: add changeset
  .changeset/stupid-swans-beg.md
Labels: none

fix(tokens): adjust xs font size (#110)
  .changeset/stupid-swans-beg.md
  design-tokens/$metadata.json
  design-tokens/$themes.json
  design-tokens/primitives/modes/color-scheme/dark/arbeidsmiljportalen.json
  design-tokens/primitives/modes/color-scheme/dark/nemndene.json
  design-tokens/primitives/modes/color-scheme/light/arbeidsmiljportalen.json
  design-tokens/primitives/modes/color-scheme/light/nemndene.json
  design-tokens/primitives/modes/typography/primary/arbeidsmiljportalen.json
  design-tokens/primitives/modes/typography/primary/nemndene.json
  design-tokens/primitives/modes/typography/secondary/arbeidsmiljportalen.json
  design-tokens/primitives/modes/typography/secondary/nemndene.json
  design-tokens/semantic/style.json
  design-tokens/themes/arbeidsmiljportalen.json
  design-tokens/themes/nemndene.json
  packages/theme/brand/arbeidstilsynet.css
Labels: none

PR feedback
  docs/adr/adr-0001-repo-init.md
Labels: none

fix: update acceptance dates in ADR status sections
  docs/adr/adr-0001-repo-init.md
  docs/adr/adr-0002-pakkeversjonering.md
  docs/adr/adr-0003-digdir-komponenter.md
Labels: none

format
  docs/adr/adr-0001-repo-init.md
  docs/adr/adr-0002-pakkeversjonering.md
  docs/adr/adr-0003-digdir-komponenter.md
Labels: none

.github/labeler.yml:

packages/react:
  - changed-files:
      - all-globs-to-any-file:
          - "packages/react/**"
          - "!packages/react/package.json"

packages/theme:
  - changed-files:
      - all-globs-to-any-file:
          - "packages/theme/**"
          - "!packages/theme/package.json"

packages/css:
  - changed-files:
      - all-globs-to-any-file:
          - "packages/css/**"
          - "!packages/css/package.json"

storybook:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/storybook/**"
          - "!apps/storybook/**/*.stories.tsx"
          - "!apps/storybook/package.json"

stories:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/react/**/*.stories.tsx"
          - "apps/storybook/**/*.stories.tsx"

documentation:
  - changed-files:
      - all-globs-to-any-file:
          - "**/*.md"
          - "!**/CHANGELOG.md"
          - "!.changeset/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "pnpm-lock.yaml"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

config:
  - changed-files:
      - all-globs-to-any-file:
          - "**/.*"
          - "!.github/**"
          - "!.changeset/**"
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.config.*"
          - "**/tsconfig.json"
          - "**/pnpm-workspace.yaml"
