Repository Arbeidstilsynet/design, pull requests merged in 2025-09, with the labels that each got.

#295 fix: use custom pnpm action, node 24
  .github/actions/setup/action.yml
  .github/workflows/changesets-renovate.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/generate-tokens.yml
  .github/workflows/release.yml
  .github/workflows/storybook-tests.yml
Labels: ci

#300 feat(logo): Set branding and logo
  apps/storybook/.storybook/manager.ts
Labels: storybook

#318 fix: juster filepicker ab#35419
  .changeset/busy-zebras-rest.md
  packages/css/src/filepicker.css
  packages/react/src/components/filepicker/filepicker.stories.tsx
  packages/react/src/components/filepicker/filepicker.test.tsx
  packages/react/src/components/filepicker/filepicker.tsx
  packages/react/src/components/filepicker/filepickerDropzone.tsx
  packages/react/src/components/filepicker/filepickerErrors.tsx
  packages/react/src/components/filepicker/filepickerFiles.tsx
Labels: packages/react, packages/css, stories

#321 fix: export color/size types, storybook tweaks
  .changeset/petite-bees-sell.md
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/stories/Configure.mdx
  apps/storybook/stories/Icons.mdx
  apps/storybook/stories/Icons/Icons.mdx
  apps/storybook/stories/Icons/demo.tsx
  apps/storybook/stories/changelogs/css.mdx
  apps/storybook/stories/changelogs/react.mdx
  apps/storybook/stories/changelogs/theme.mdx
  packages/react/src/components/filepicker/filepickerDropzone.tsx
  packages/react/src/components/filepicker/index.tsx
  packages/react/src/digdir.ts
  packages/react/src/index.ts
  packages/react/src/types.ts
Labels: packages/react, storybook

#327 fix: add missing visited link color
  .changeset/chatty-squids-glow.md
  design-tokens/semantic/color.json
  packages/theme/brand/arbeidstilsynet.css
Labels: packages/theme

#331 fix: use table for filepicker files
  .changeset/clean-actors-hope.md
  .changeset/icy-monkeys-sleep.md
  .changeset/seven-showers-peel.md
  packages/css/src/filepicker.css
  packages/react/src/components/filepicker/filepicker.stories.tsx
  packages/react/src/components/filepicker/filepicker.test.tsx
  packages/react/src/components/filepicker/filepickerDropzone.tsx
  packages/react/src/components/filepicker/filepickerErrors.tsx
  packages/react/src/components/filepicker/filepickerFiles.tsx
  packages/react/src/components/filepicker/types.ts
Labels: packages/react, packages/css, stories
